.menuOption {
	width: 224px;
	height: 42px;
	padding: 8px 0px;
	font-size: 1.6rem;
	font-weight: 600;

	.option {
		padding: 10px 8px 10px 16px;
		cursor: pointer;

		&:hover {
			background: rgba(22, 24, 35, 0.03);
		}

		.icon {
			width: 20px;
			margin-right: 12px;
		}
	}
}
