.wrapper {
	width: var(--default-layout-sidebar-width);
	padding: 20px 0 26px 8px;
	position: fixed;
	z-index: 1;
	margin-top: var(--default-layout-header-height);
}

.navBar {
	margin-bottom: 8px;
	position: relative;
	overflow: hidden auto;
	overscroll-behavior-y: contain;
	perspective: 1px;
	transform-style: preserve-3d;
	perspective-origin: right top;

	.navBarContent {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 8px;
		font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
		font-size: 1.7rem;
		color: (--black);
		font-weight: 800;
		cursor: pointer;

		&:hover {
			background: rgba(22, 24, 35, 0.03);
		}

		img {
			width: 32px;
			margin-right: 8px;
		}
	}

	.navBarContent.home {
		color: var(--primary) !important;
	}
}

.unLogin {
	position: relative;
	padding-bottom: 4px;

	p {
		margin: 16px 0;
		color: rgba(22, 24, 35, 0.5);
		font-size: 1.6rem;
		line-height: 22px;
	}

	.loginBtn {
		width: 90%;
		height: 48px;
		margin: 16px 0;
	}
}

.suggestedAccounts {
	position: relative;
	padding: 16px 0;

	.title {
		margin-bottom: 8px;
		font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
		font-weight: 600;
		font-size: 1.3rem;
		color: rgba(22, 24, 35, 0.75);
	}

	.listAccounts {
		transform: translateX(-8px);
	}

	.showAll {
		color: var(--primary);
		font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
		font-size: 1.4rem;
		font-weight: 700;
		cursor: pointer;
	}
}

.discover {
	position: relative;
	width: var(--default-layout-sidebar-width);
	padding-bottom: 8px;

	.title {
		color: rgba(22, 24, 35, 0.75);
		font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
		font-weight: 600;
		font-size: 1.4rem;
		padding: 16px 0;
	}

	.discoverList {
		display: flex;
		flex-wrap: wrap;
		width: 90%;
	}
}

.container {
	&::after {
		position: absolute;
		content: "";
		width: 90%;
		height: 0.5px;
		background-color: rgba(22, 24, 35, 0.09);
		bottom: 0;
		left: 6px;
	}
}
