.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
	margin: auto;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.3);
	overflow-y: hidden !important;

	.container {
		overflow: hidden;
		max-height: 693px;
		border-radius: 8px;

		.popperContainer {
			overflow: visible;
			position: relative;
			width: 483px;

			h2 {
				text-align: center;
				margin-top: 52px;
				font-size: 3.2rem;
				font-weight: bold;
			}

			.loginBtnContainer {
				height: 44px;
				width: 375px;
				margin: 16px auto;
				position: relative;

				img {
					position: absolute;
					left: 12px;
					width: 20px;
				}
			}

			.subContainer {
				position: absolute;
				bottom: 0;
				z-index: 15;
				background-color: #fff;
				width: 100%;
				height: 64px;
				font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
				font-size: 1.4rem;
				color: #161823;
				display: flex;
				align-items: center;
				justify-content: center;
				border-top: 1px solid rgba(22, 24, 35, 0.12);
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;

				.text {
					color: var(--primary);
					font-weight: 600;
					padding: 0 4px;
					cursor: pointer;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.mgb80 {
	margin-bottom: 80px !important;
}
